.header{
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #d6d6d6;
}

.header__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav{
    margin-left: 172px;
}

.header-login > * + *{
    margin-left: 35px;
}

.header-login{
    margin-left: auto;
}

.header__nav-list-item-link{
    font-weight: 500;
    text-decoration: none;
    color: #292929;
    transition: color .2s ease;
}

.header__nav-list-item-link:hover{
    color: #01996d;
}

.header__nav-list{
    display: flex;
}

.header__nav-list-item:not(:last-child){
    margin-right: 70px;
}

.btn{
    color:#000;
}

.btn-style{
    height: 51px;
    line-height: 51px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #01996d;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    display: inline-block;
}
.btn-big{
    min-height: 65px;
    line-height: 65px;
}

@media(max-width:1199px){

    .header-row{
        justify-content: space-between;
    }

    .header-nav{
        margin-left: 30px;
    }

    .header-nav li + li{
        margin-left: 50px;
    }

    .header-login{
        margin-left: 30px;
    }

    .header__nav-list-item:not(:last-child){
        margin-right: 0;
    }
}

@media(max-width:992px){
    .header-nav, .header-login{
        display: none;
    }

    .btn-big{
        min-height: 55px;
        line-height: 55px;
    }

    .btn-style{
        padding-left: 30px;
        padding-right: 30px;
    }

}